.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: #0a1628;;
  width: 100%;
}

.logo {
  color: #f5f5f5;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  margin-right: auto;
}

.link {
  color: #d7d7d7;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.link:hover {
  color: #7c7c7c;
}